@use "../variables";

.type-large-title,
%type-large-title {
  font-family: variables.$font-family-display;
  font-size: 40pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: 0.37pt;
  line-height: 48pt;
}

.type-title-1,
%type-title-1 {
  font-family: variables.$font-family-display;
  font-size: 34pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: 0.4pt;
  line-height: 41pt;
}

.type-title-2,
%type-title-2 {
  font-family: variables.$font-family-display;
  font-size: 28pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: 0.4pt;
  line-height: 34pt;
}

.type-title-3,
%type-title-3 {
  font-family: variables.$font-family-display;
  font-size: 26pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: 0.22pt;
  line-height: 32pt;
}

.type-headline,
%type-headline {
  font-family: variables.$font-family-text;
  font-size: 23pt;
  font-weight: variables.$font-weight-semi-bold;
  letter-spacing: -0.1pt;
  line-height: 29pt;
}

.type-body,
%type-body {
  font-family: variables.$font-family-text;
  font-size: 23pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: -0.1pt;
  line-height: 29pt;
}

.type-body-bold,
%type-body-bold {
  @extend %type-body;

  font-weight: variables.$font-weight-bold;
}

.type-callout,
%type-callout {
  font-family: variables.$font-family-text;
  font-size: 22pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: -0.26pt;
  line-height: 28pt;
}

.type-sub-headline,
%type-sub-headline {
  font-family: variables.$font-family-text;
  font-size: 21pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: -0.36pt;
  line-height: 28pt;
}

.type-footnote,
%type-footnote {
  font-family: variables.$font-family-text;
  font-size: 19pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: -0.45pt;
  line-height: 24pt;
}

.type-caption-1,
%type-caption-1 {
  font-family: variables.$font-family-text;
  font-size: 18pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: -0.44pt;
  line-height: 23pt;
}

.type-caption-2,
%type-caption-2 {
  font-family: variables.$font-family-text;
  font-size: 17pt;
  font-weight: variables.$font-weight-regular;
  letter-spacing: -0.43pt;
  line-height: 22pt;
}
